# Rails

# Ignore application configuration
/config/master.key

# Ignore bundler config.
/.bundle

# Ignore logs and temporary files.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore PID files, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore compiled assets.
/public/assets

# Ignore database dumps.
*.sql
*.sql.gz

# Ignore environment files.
.env
.env.*
